body {
  background-color: #52796f;
  font-family: "Assistant", sans-serif;
}
.screen {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.toolbar {
  background-color: #354f52;
  padding: 0 10px;
  height: 40px;
  display: flex;
  align-items: center;
}
.toolbar > p {
  font-weight: 800;
  font-family: monospace;
  font-size: 1.2em;
  margin-left: 10px;
}
.content {
  border: 1.5px solid black;
  width: 45vw;
  height: 95vh;
  background-color: #84a98c;
  box-shadow: 1px 1px 10px 2px #3a5f5f;
}
.editor {
  margin-left: 20px;
}
.viewer {
  margin-right: 20px;
}
#editor {
  background-color: transparent;
  border: none;
  outline: none;
  width: 100%;
  height: 94%;
  padding: 5px 5px 0 5px;
  resize: none;
}
.previewMarkdown {
  padding: 0;
  max-height: 90vh;
  overflow: auto;
  padding: 0 12px;
}
footer {
  padding: 15px;
  text-align: center;
}

@media (max-width: 425px) {
  .screen {
    justify-content: center;
    gap: 10px;
  }
  .content {
    width: 70vw;
  }
  .editor {
    margin: 0;
    max-height: 30vh;
  }
  #editor {
    padding: 0;
    height: 77%;
  }
  .viewer {
    margin: 0;
  }
  .previewMarkdown {
    max-height: 88vh;
  }
}
